In [4]:
import numpy as np
import pandas as pd
import os.path

In [5]:
PATH_MY_DGE = "./data/DESeq_results/"

LRT = "LRT/res_LRT.xlsx"

MEAN_DAL = "mean/DAL/res_mean.xlsx"
MEAN_V2 = "mean/V2/res_mean.xlsx"
MEAN_V3 = "mean/V3/res_mean.xlsx"
MEAN_AB_KCs = "mean/AB_KCs/res_mean.xlsx"
MEAN_G_KCs = "mean/G_KCs/res_mean.xlsx"
MEAN_R27 = "mean/R27/res_mean.xlsx"
MEAN_G386 = "mean/G386/res_mean.xlsx"

PAIRWISE_DAL = "pairwise/res_DAL_"
PAIRWISE_V2 = "pairwise/res_V2_"
PAIRWISE_V3 = "pairwise/res_V3_"
PAIRWISE_AB_KCs = "pairwise/res_AB_KCs_"
PAIRWISE_G_KCs = "pairwise/res_G_KCs_"
PAIRWISE_R27 = "pairwise/res_R27_"
PAIRWISE_G386 = "pairwise/res_G386_"

In [6]:
# Counts data
genes_LRT = pd.read_excel(PATH_MY_DGE + LRT, index_col=0)
genes_LRT.head()

                baseMean  log2FoldChange     lfcSE        stat        pvalue
gene
14-3-3zeta  53395.767469       -1.117552  0.128501  174.333968  5.413745e-35
2mit         5138.245843       -1.464031  0.283965   57.535217  1.423423e-10
5-HT1A       1847.051208       -1.587136  0.381747  114.898822  1.917323e-22
Abl           470.724329       -0.890831  0.575265   16.335307  1.206303e-02
AGO1         7650.727511       -0.862827  0.179043   55.349483  3.940119e-10

In [7]:
genes_mean_DAL = pd.read_excel(PATH_MY_DGE + MEAN_DAL, index_col=0)
genes_mean_DAL.head()

                baseMean  log2FoldChange     lfcSE       stat        pvalue
gene
14-3-3zeta  53395.767469        0.553065  0.087182   6.343825  2.241299e-10
2mit         5138.245843        1.025275  0.186069   5.510183  3.584608e-08
AGO1         7650.727511        0.559781  0.116576   4.801855  1.572028e-06
aPKC         2557.188848       -0.471080  0.157115  -2.998307  2.714845e-03
Appl        21068.345015        1.080560  0.096515  11.195777  4.276365e-29

In [8]:
genes_mean_V2 = pd.read_excel(PATH_MY_DGE + MEAN_V2, index_col=0)
genes_mean_V2.head()

                baseMean  log2FoldChange     lfcSE      stat        pvalue
gene
14-3-3zeta  53395.767469       -0.222331  0.087197 -2.549758  1.077977e-02
2mit         5138.245843       -0.763087  0.186200 -4.098215  4.163477e-05
5-HT1A       1847.051208       -1.472478  0.246092 -5.983458  2.184495e-09
Appl        21068.345015       -0.443962  0.096567 -4.597467  4.276583e-06
armi           27.641092        1.813191  0.626525  2.894042  3.803171e-03

In [9]:
genes_mean_V3 = pd.read_excel(PATH_MY_DGE + MEAN_V3, index_col=0)
genes_mean_V3.head()

                baseMean  log2FoldChange     lfcSE      stat        pvalue
gene
14-3-3zeta  53395.767469       -0.319041  0.095771 -3.331295  8.644292e-04
5-HT1A       1847.051208        1.474263  0.268057  5.499808  3.802051e-08
Appl        21068.345015       -0.543407  0.106073 -5.122937  3.008126e-07
armi           27.641092       -2.308477  0.655611 -3.521111  4.297434e-04
brp          4294.743116       -0.715513  0.163087 -4.387301  1.147660e-05

In [10]:
genes_mean_AB_KCs = pd.read_excel(PATH_MY_DGE + MEAN_AB_KCs, index_col=0)
genes_mean_AB_KCs.head()

            baseMean  log2FoldChange     lfcSE      stat        pvalue
gene
5-HT1A   1847.051208        1.406294  0.245674  5.724225  1.039071e-08
AGO1     7650.727511       -0.383222  0.116830 -3.280177  1.037419e-03
Ank2     9186.434249        0.725675  0.113939  6.368957  1.903175e-10
aPKC     2557.188848        0.606172  0.157253  3.854744  1.158507e-04
Appl    21068.345015       -0.449237  0.096649 -4.648148  3.349281e-06

In [11]:
genes_mean_G_KCs = pd.read_excel(PATH_MY_DGE + MEAN_G_KCs, index_col=0)
genes_mean_G_KCs.head()

                baseMean  log2FoldChange     lfcSE      stat        pvalue
gene
14-3-3zeta  53395.767469        0.709975  0.080959  8.769583  1.793290e-18
Abl           470.724329        0.805747  0.327097  2.463323  1.376559e-02
AGO1         7650.727511        0.452421  0.108302  4.177386  2.948783e-05
Appl        21068.345015        0.707182  0.089641  7.889049  3.044985e-15
arm          1450.411450       -0.525104  0.160347 -3.274801  1.057364e-03

In [12]:
genes_mean_R27 = pd.read_excel(PATH_MY_DGE + MEAN_R27, index_col=0)
genes_mean_R27.head()

          baseMean  log2FoldChange     lfcSE      stat        pvalue
gene
aru     103.467196       -2.107674  0.516938 -4.077227  4.557595e-05
Atx2   1344.501015       -0.570269  0.170931 -3.336246  8.491785e-04
cer     731.714245       -1.220251  0.289554 -4.214248  2.506119e-05
Ddc    5831.839263        1.085621  0.216454  5.015476  5.290221e-07
dnc   14786.826024       -0.305314  0.093875 -3.252345  1.144569e-03

In [13]:
genes_mean_G386 = pd.read_excel(PATH_MY_DGE + MEAN_G386, index_col=0)
genes_mean_G386.head()

                baseMean  log2FoldChange     lfcSE      stat        pvalue
gene
14-3-3zeta  53395.767469       -0.557256  0.087201 -6.390498  1.653468e-10
5-HT1A       1847.051208       -1.029056  0.245899 -4.184878  2.853188e-05
brp          4294.743116        0.467106  0.148480  3.145929  1.655600e-03
Ddc          5831.839263       -0.777974  0.216547 -3.592633  3.273532e-04
drl           795.369967        1.111718  0.242444  4.585468  4.529708e-06

In [19]:
genes_DAL_V2 = pd.read_excel(PATH_MY_DGE + PAIRWISE_DAL + "V2.xlsx", index_col=0)
genes_DAL_V3 = pd.read_excel(PATH_MY_DGE + PAIRWISE_DAL + "V3.xlsx", index_col=0)
genes_DAL_AB_KCs = pd.read_excel(PATH_MY_DGE + PAIRWISE_DAL + "AB_KCs.xlsx", index_col=0)
genes_DAL_G_KCs = pd.read_excel(PATH_MY_DGE + PAIRWISE_DAL + "G_KCs.xlsx", index_col=0)
genes_DAL_R27 = pd.read_excel(PATH_MY_DGE + PAIRWISE_DAL + "R27.xlsx", index_col=0)
genes_DAL_G386 = pd.read_excel(PATH_MY_DGE + PAIRWISE_DAL + "G386.xlsx", index_col=0)

In [21]:
genes_V2_DAL = pd.read_excel(PATH_MY_DGE + PAIRWISE_V2 + "DAL.xlsx", index_col=0)
genes_V2_V3 = pd.read_excel(PATH_MY_DGE + PAIRWISE_V2 + "V3.xlsx", index_col=0)
genes_V2_AB_KCs = pd.read_excel(PATH_MY_DGE + PAIRWISE_V2 + "AB_KCs.xlsx", index_col=0)
genes_V2_G_KCs = pd.read_excel(PATH_MY_DGE + PAIRWISE_V2 + "G_KCs.xlsx", index_col=0)
genes_V2_R27 = pd.read_excel(PATH_MY_DGE + PAIRWISE_V2 + "R27.xlsx", index_col=0)
genes_V2_G386 = pd.read_excel(PATH_MY_DGE + PAIRWISE_V2 + "G386.xlsx", index_col=0)

In [22]:
genes_V3_DAL = pd.read_excel(PATH_MY_DGE + PAIRWISE_V3 + "DAL.xlsx", index_col=0)
genes_V3_V2 = pd.read_excel(PATH_MY_DGE + PAIRWISE_V3 + "V2.xlsx", index_col=0)
genes_V3_AB_KCs = pd.read_excel(PATH_MY_DGE + PAIRWISE_V3 + "AB_KCs.xlsx", index_col=0)
genes_V3_G_KCs = pd.read_excel(PATH_MY_DGE + PAIRWISE_V3 + "G_KCs.xlsx", index_col=0)
genes_V3_R27 = pd.read_excel(PATH_MY_DGE + PAIRWISE_V3 + "R27.xlsx", index_col=0)
genes_V3_G386 = pd.read_excel(PATH_MY_DGE + PAIRWISE_V3 + "G386.xlsx", index_col=0)

In [23]:
genes_AB_KCs_DAL = pd.read_excel(PATH_MY_DGE + PAIRWISE_AB_KCs + "DAL.xlsx", index_col=0)
genes_AB_KCs_V2 = pd.read_excel(PATH_MY_DGE + PAIRWISE_AB_KCs + "V2.xlsx", index_col=0)
genes_AB_KCs_V3 = pd.read_excel(PATH_MY_DGE + PAIRWISE_AB_KCs + "V3.xlsx", index_col=0)
genes_AB_KCs_G_KCs = pd.read_excel(PATH_MY_DGE + PAIRWISE_AB_KCs + "G_KCs.xlsx", index_col=0)
genes_AB_KCs_R27 = pd.read_excel(PATH_MY_DGE + PAIRWISE_AB_KCs + "R27.xlsx", index_col=0)
genes_AB_KCs_G386 = pd.read_excel(PATH_MY_DGE + PAIRWISE_AB_KCs + "G386.xlsx", index_col=0)

In [24]:
genes_G_KCs_DAL = pd.read_excel(PATH_MY_DGE + PAIRWISE_G_KCs + "DAL.xlsx", index_col=0)
genes_G_KCs_V2 = pd.read_excel(PATH_MY_DGE + PAIRWISE_G_KCs + "V2.xlsx", index_col=0)
genes_G_KCs_V3 = pd.read_excel(PATH_MY_DGE + PAIRWISE_G_KCs + "V3.xlsx", index_col=0)
genes_G_KCs_AB_KCs = pd.read_excel(PATH_MY_DGE + PAIRWISE_G_KCs + "AB_KCs.xlsx", index_col=0)
genes_G_KCs_R27 = pd.read_excel(PATH_MY_DGE + PAIRWISE_G_KCs + "R27.xlsx", index_col=0)
genes_G_KCs_G386 = pd.read_excel(PATH_MY_DGE + PAIRWISE_G_KCs + "G386.xlsx", index_col=0)

In [25]:
genes_R27_DAL = pd.read_excel(PATH_MY_DGE + PAIRWISE_R27 + "DAL.xlsx", index_col=0)
genes_R27_V2 = pd.read_excel(PATH_MY_DGE + PAIRWISE_R27 + "V2.xlsx", index_col=0)
genes_R27_V3 = pd.read_excel(PATH_MY_DGE + PAIRWISE_R27 + "V3.xlsx", index_col=0)
genes_R27_AB_KCs = pd.read_excel(PATH_MY_DGE + PAIRWISE_R27 + "AB_KCs.xlsx", index_col=0)
genes_R27_G_KCs = pd.read_excel(PATH_MY_DGE + PAIRWISE_R27 + "G_KCs.xlsx", index_col=0)
genes_R27_G386 = pd.read_excel(PATH_MY_DGE + PAIRWISE_R27 + "G386.xlsx", index_col=0)

In [26]:
genes_G386_DAL = pd.read_excel(PATH_MY_DGE + PAIRWISE_G386 + "DAL.xlsx", index_col=0)
genes_G386_V2 = pd.read_excel(PATH_MY_DGE + PAIRWISE_G386 + "V2.xlsx", index_col=0)
genes_G386_V3 = pd.read_excel(PATH_MY_DGE + PAIRWISE_G386 + "V3.xlsx", index_col=0)
genes_G386_AB_KCs = pd.read_excel(PATH_MY_DGE + PAIRWISE_G386 + "AB_KCs.xlsx", index_col=0)
genes_G386_G_KCs = pd.read_excel(PATH_MY_DGE + PAIRWISE_G386 + "G_KCs.xlsx", index_col=0)
genes_G386_R27 = pd.read_excel(PATH_MY_DGE + PAIRWISE_G386 + "R27.xlsx", index_col=0)