In [1]:
import numpy as np
import pandas as pd
import os.path

In [2]:
PATH = "./data/"

#COUNT_CPM = "GSE74989_CountCPM.txt"
COUNT_CPM = "GSE74989_HTseqCountscompiledData.txt"
COGNITION_GENE_NAMES = "FlyBase_Fields_download.txt"

In [3]:
# Counts data
read_counts = pd.read_csv(PATH + COUNT_CPM, delimiter = '\t')
read_counts.rename(columns = {'Unnamed: 0':'genes'}, inplace = True)
read_counts

,genes,DAL1,DAL2,DAL3,DAL4,DAL5,DAL6,DAL7,DAL8,DAL9,...,V3_WF_4,V3_WF_1,R27_WF_4,c739_WF_1,V2_WF_4,R27_WF_3,Brain1A,Brain1B,AB_KCs_T1,AB_KCs_T2
0,40421,119,140,834,256,270,13,72,328,346,...,106,218,206,98,36,94,227,56,182,332
1,40422,814,158,78,487,1815,233,286,1603,1848,...,282,508,542,303,116,194,213,64,122,208
2,40424,1094,436,945,2432,657,2503,1533,2139,660,...,37,64,81,53,20,40,176,90,859,1366
3,40425,26,0,1,1,0,34,26,0,85,...,11,103,46,43,4,28,11,9,24,1
4,40512,0,3,4,1,0,3,0,0,0,...,2201,190,1892,842,124,1625,1,1,3,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15677,zuc,3,0,1,9,4,1,6,6,2,...,9,57,34,37,5,31,0,0,0,0
15678,Zw,174,3,1,81,6,8,0,29,26,...,280,231,271,80,100,45,2,5,3,0
15679,zwilch,0,0,0,0,0,0,0,0,0,...,27,127,48,52,13,44,0,0,0,0
15680,zye,0,0,0,6,0,0,0,10,6,...,10,0,0,2,10,0,0,1,3,6
15681,Zyx,178,1628,825,5162,2314,1427,1747,2140,1652,...,161,64,217,119,61,69,1660,794,4676,3617

In [4]:
# Remove rows full of zeros
read_counts = read_counts.loc[~(read_counts==0.0).all(axis=1)]
read_counts

,genes,DAL1,DAL2,DAL3,DAL4,DAL5,DAL6,DAL7,DAL8,DAL9,...,V3_WF_4,V3_WF_1,R27_WF_4,c739_WF_1,V2_WF_4,R27_WF_3,Brain1A,Brain1B,AB_KCs_T1,AB_KCs_T2
0,40421,119,140,834,256,270,13,72,328,346,...,106,218,206,98,36,94,227,56,182,332
1,40422,814,158,78,487,1815,233,286,1603,1848,...,282,508,542,303,116,194,213,64,122,208
2,40424,1094,436,945,2432,657,2503,1533,2139,660,...,37,64,81,53,20,40,176,90,859,1366
3,40425,26,0,1,1,0,34,26,0,85,...,11,103,46,43,4,28,11,9,24,1
4,40512,0,3,4,1,0,3,0,0,0,...,2201,190,1892,842,124,1625,1,1,3,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15677,zuc,3,0,1,9,4,1,6,6,2,...,9,57,34,37,5,31,0,0,0,0
15678,Zw,174,3,1,81,6,8,0,29,26,...,280,231,271,80,100,45,2,5,3,0
15679,zwilch,0,0,0,0,0,0,0,0,0,...,27,127,48,52,13,44,0,0,0,0
15680,zye,0,0,0,6,0,0,0,10,6,...,10,0,0,2,10,0,0,1,3,6
15681,Zyx,178,1628,825,5162,2314,1427,1747,2140,1652,...,161,64,217,119,61,69,1660,794,4676,3617

In [5]:
# Homogenize the nomenclature of the columns to store for storing and further analysis
read_counts.columns = read_counts.columns.str.replace('DAL', 'DAL_')
read_counts.columns = read_counts.columns.str.replace('AB_KCs', 'AB_KCs_')
read_counts.columns = read_counts.columns.str.replace('G_KCs', 'G_KCs_')
read_counts.head()

,genes,DAL_1,DAL_2,DAL_3,DAL_4,DAL_5,DAL_6,DAL_7,DAL_8,DAL_9,...,V3_WF_4,V3_WF_1,R27_WF_4,c739_WF_1,V2_WF_4,R27_WF_3,Brain1A,Brain1B,AB_KCs__T1,AB_KCs__T2
0,40421,119,140,834,256,270,13,72,328,346,...,106,218,206,98,36,94,227,56,182,332
1,40422,814,158,78,487,1815,233,286,1603,1848,...,282,508,542,303,116,194,213,64,122,208
2,40424,1094,436,945,2432,657,2503,1533,2139,660,...,37,64,81,53,20,40,176,90,859,1366
3,40425,26,0,1,1,0,34,26,0,85,...,11,103,46,43,4,28,11,9,24,1
4,40512,0,3,4,1,0,3,0,0,0,...,2201,190,1892,842,124,1625,1,1,3,7

In [6]:
# for the moment
read_counts = read_counts[read_counts.columns[:71]].copy() # keep all the samples or just neuron samples?
read_counts.columns

Index(['genes', 'DAL_1', 'DAL_2', 'DAL_3', 'DAL_4', 'DAL_5', 'DAL_6', 'DAL_7',
       'DAL_8', 'DAL_9', 'DAL_10', 'V2_1', 'V2_2', 'V2_3', 'V2_4', 'V2_5',
       'V2_6', 'V2_7', 'V2_8', 'V2_9', 'V2_10', 'AB_KCs_1', 'AB_KCs_2',
       'AB_KCs_3', 'AB_KCs_4', 'AB_KCs_5', 'AB_KCs_6', 'AB_KCs_7', 'AB_KCs_8',
       'AB_KCs_9', 'AB_KCs_10', 'G_KCs_1', 'G_KCs_2', 'G_KCs_3', 'G_KCs_4',
       'G_KCs_5', 'G_KCs_6', 'G_KCs_7', 'G_KCs_8', 'G_KCs_9', 'G_KCs_10',
       'G_KCs_11', 'G_KCs_12', 'V3_1', 'V3_2', 'V3_3', 'V3_4', 'V3_5', 'V3_6',
       'V3_7', 'V3_8', 'V3_9', 'V3_10', 'R27_1', 'R27_2', 'R27_3', 'R27_4',
       'R27_5', 'R27_6', 'R27_7', 'R27_8', 'G386_1', 'G386_2', 'G386_3',
       'G386_4', 'G386_5', 'G386_6', 'G386_7', 'G386_8', 'G386_9', 'G386_10'],
      dtype='object')

In [17]:
nbr_expressed_genes_all = read_counts.shape[0]
print(str(nbr_expressed_genes_all) + " genes are present in this expression data")

15682 genes are present in this expression data

In [8]:
# Save the processed data frame "read_counts" in a txt file

if os.path.isfile('data/processed_read_counts_all_genes.txt'):
    print ("File already exists")
else:
    read_counts.to_csv('data/processed_read_counts_all_genes.txt', header=True, index=False, sep='\t', mode='a')

In [9]:
# Names of genes related to cognition from FlyBase (names converted on flybase.org directly)
cognition_genes = pd.read_csv(PATH + COGNITION_GENE_NAMES, delimiter = '\t')
cognition_genes.head()

  #SUBMITTED ID     FBID_KEY                                 NAME SYMBOL
0   FBgn0000017  FBgn0000017                  Abl tyrosine kinase    Abl
1   FBgn0000108  FBgn0000108  beta amyloid protein precursor-like   Appl
2   FBgn0000117  FBgn0000117                            armadillo    arm
3   FBgn0000119  FBgn0000119                                arrow    arr
4   FBgn0000229  FBgn0000229                               basket    bsk

In [10]:
# Store the gene names in a list
cognition_gene_names = list(cognition_genes['SYMBOL'])

In [11]:
# Keep only data about genes related to cognition
cognition_data = read_counts[read_counts['genes'].isin(cognition_gene_names)].copy()
cognition_data

,genes,DAL_1,DAL_2,DAL_3,DAL_4,DAL_5,DAL_6,DAL_7,DAL_8,DAL_9,...,G386_1,G386_2,G386_3,G386_4,G386_5,G386_6,G386_7,G386_8,G386_9,G386_10
8,14-3-3zeta,26376,26104,32690,112973,37716,31467,36564,39539,42445,...,14006,19955,35952,28793,18268,36185,11075,42853,17591,6861
11,2mit,715,2379,1094,9603,2727,2606,2966,2053,2571,...,1277,1325,1536,3578,2590,1373,830,4882,4421,521
14,5-HT1A,128,30,619,2286,74,688,588,463,339,...,1451,817,2783,3408,6200,2158,269,3994,3435,64
158,Abl,192,654,244,844,122,140,163,545,257,...,1,11,274,878,327,2,0,372,44,3
227,Adf1,1338,291,133,1255,615,798,860,1236,1450,...,0,18,5,459,136,757,342,2,1,436
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15514,vn,0,313,0,1,0,4,50,0,0,...,0,0,1,598,0,8,0,0,6,251
15534,vsg,2712,3555,5633,5911,3294,4674,1313,12345,3382,...,3473,2457,1363,4866,2555,3324,1936,3316,1055,2761
15541,w,3,58,24,40,86,0,29,8,19,...,90,69,604,877,154,189,10,792,1001,1
15567,wg,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15579,wnd,0,616,137,120,84,67,234,317,298,...,6,4,32,13,330,852,27,147,49,5

In [15]:
nbr_expressed_genes_cognition = cognition_data.shape[0]
print(str(nbr_expressed_genes_cognition) + " genes of this expression data are genes related to cognition ")

137 genes of this expression data are genes related to cognition

In [12]:
# Save the processed data frame "neuron_samples_cognition" in a txt file

if os.path.isfile('data/processed_read_counts_cognition.txt'):
    print ("File already exists")
else:
    cognition_data.to_csv('data/processed_read_counts_cognition.txt', header=True, index=False, sep='\t', mode='a')

File already exists